.code-editor {
  position: relative;
  height: 80%;
  margin-bottom: 10px;

  textarea,
  pre {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: none;
    background-color: transparent;
    outline: none;
    padding: 5px;
    margin: 0;

    font-size: 0.9rem;
    font-family: monospace;
  }

  textarea {
    resize: none;
    color: transparent;
    caret-color: black;
    overflow: auto;
    text-wrap: nowrap;
    word-wrap: normal;
  }

  pre {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;

    .token {
      color: black;

      &.keyword,
      &.boolean {
        color: blue;
      }

      &.string {
        color: green;
      }

      &.number,
      &.constant,
      &.builtin {
        color: rgb(255, 50, 177);
      }

      &.class-name,
      &.decorator {
        color: #a0a;
        font-weight: bold;
      }

      &.function {
        color: blueviolet;
        font-weight: bold;
      }

      &.comment {
        color: darkcyan;
      }

      &.property,
      &.interpolation {
        color: darkred;
      }
    }
  }
}
