:root {
  font-family: sans-serif;
  --df-width: 500px;
}

* {
  outline: none;
}

main {
  border: 1px solid black;
  width: var(--df-width);
  padding: 5px;
}

main > section {
  padding: 10px;
}

main > section:not(:first-child) {
  border-top: 1px solid gray;
}

div.fl-ctr {
  display: flex;
  justify-content: space-between;
}

div.fl-ctr > button {
  display: block;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.fl-btn-f {
  color: blue;
  text-decoration: underline;
}

button.fl-btn-d {
  color: green;
  text-decoration: underline;
}

div.fl-ctr > button:hover {
  background-color: #0001;
}

#texteditor {
  margin-top: 25px;
}

#texteditor > textarea {
  width: var(--df-width);
  border: 1px solid black;
  padding: 5px;
  resize: none;
  height: 5rem;
}

#texteditor > button {
  display: block;
  width: calc(var(--df-width) + 10px);
}

section#tools {
  margin-top: 30px;
}
