:root {
  font-family: sans-serif;
}

* {
  outline: none;
}

button {
  cursor: pointer;
  background-color: #eee;
  transition: filter 150ms;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
}

button:hover {
  filter: brightness(90%);
}

main {
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 15px;
}

section#directory-listing {
  padding: 10px;
}

section#directory-listing:empty::after {
  content: "No files";
  color: gray;
}

section#directory-listing > div {
  color: blue;
  text-decoration: underline;
  margin-bottom: 5px;
  cursor: pointer;
  width: fit-content;
  transition: filter 175ms;
}

section#directory-listing > div[data-type="directory"] {
  color: green;
}

section#directory-listing > div:hover {
  filter: brightness(50%);
}

div#current-working-directory {
  border-bottom: 1px solid black;
  padding: 7px;
}

section#cwd-buttons {
  border-top: 1px solid black;
  padding: 7px;
}

textarea#file-editor-input {
  width: 90%;
  height: 10rem;
  resize: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

section#file-editor-ctr > button {
  width: calc(45% + 5px);
}

.bottom-buttons {
  border-top: 1px solid black;
  padding-top: 10px;
  position: fixed;
  bottom: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  gap: 5px;
}

.bottom-buttons > button {
  display: block;
  width: 100%;
}
